#mission-control.row-fluid(style='height: 50px; overflow-y: hidden; margin: 5px;')
	.span3
		p(style='text-overflow:ellipsis; white-space: nowrap; width: 75px; height: 25px;') #{perf._id}
	.span3
	.span3
	.span3