#mission-control
	#bar.container(style='min-height: 40px; height: 40px; width:100%; overflow-y: hidden; padding: 5px; display: block; vertical-align:middle;')
		small.req-id.pull-left #{perf._id}
		- if(timelineMetrics) {
		small #{timelineMetrics.request.percentage}
		- }
		.pull-right
			h4.pull-left.bar-item #{perf.time}ms 
				small render